.amazon-mws--display_cron_report_table,
.amazon-mws--display_report_table {
  display: block;
  max-width: 100%;
  height: 500px;
  overflow-x: scroll;
  resize: vertical;
}

.amazon-mws--inline_container .form-item {
  display: inline-block;
  margin-right: 15px;
}

.amazon-mws--display_cron_report_table .even {
  background: #fff;
}

.amazon-mws--display_cron_report_table .odd {
  background: #f4f4f4;
}

.amazon-mws--display_report_table .even {
  background: rgb(243, 147, 147);
}

.amazon-mws--display_report_table .odd {
  background: rgb(224, 130, 130);
}

.amazon-mws--display_report_table .even.no-issues {
  background: rgba(228, 240, 227, 0.9);
}

.amazon-mws--display_report_table .odd.no-issues {
  background: rgba(211, 231, 209, 0.9);
}

.amazon-mws--display_report_table .odd.title-mismatch {
  background: rgba(101, 20, 173, 0.34);
  box-sizing: border-box;
}

.amazon-mws--display_report_table .even.title-mismatch {
  background: rgba(96, 18, 160, 0.37);
  box-sizing: border-box;
}

.amazon-mws--display_report_table .differing-title {
  font-size: 12px;
  font-style: italic;
  color: #5d5d5d;
}

.amazon-mws--display_report_table .odd.not-listed {
  background: #c28a35;
}

.amazon-mws--display_report_table .even.not-listed {
  background: #f8b044;
}

.page-admin-reports-amazon-mws-report .form-submit {
  display: none;
}

.row-search {
  display: inline-block;
  margin-right: 20px;
}

.row-keys .row-key {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #c9c9c9;
  cursor: pointer;
}

.row-keys .row-key:hover {
  opacity: 0.8;
}

.row-keys .row-key.title-mismatch {
  background: rgba(96, 18, 160, 0.37);
}

.row-keys .row-key.title-mismatch {
  background: rgba(96, 18, 160, 0.37);
}

.row-keys .row-key.not-listed {
  background: #c28a35;
}

.row-keys .row-key.no-sku-match {
  background: rgb(224, 130, 130);
}

.row-keys .row-key.no-issues {
  background: rgba(211, 231, 209, 0.9);
}

.row-deleted {
  text-decoration: line-through;
}
